<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klokkenapp.klokken"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Needed for mail/applications API checks -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Needed to check if cell network available -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Needed to access gmail accounts -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Needed to notify users of alerts -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Needed to check SMS' for alerts -->
    <!--<uses-permission android:name="android.permission.RECEIVE_SMS" /> -->

    <!-- Needed to set alarm at boot time -->
    <uses-permission android:name="RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Klokken Message Checker and Ringer"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="Klokken"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".ServiceKlokken"
            android:enabled="true"
            android:exported="false"
            android:icon="@mipmap/ic_launcher"
            android:isolatedProcess="false"
            android:label="@string/ServiceName" />

        <receiver
            android:name=".BootReceiverForTimer"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="SetAlarm" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.ActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.klokkenapp.klokken.MainActivity" />
        </activity>

    </application>

</manifest>